@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    transition: 0.3s
}

body{
    margin: 0 0;
    overflow: hidden;
}

/*  Móviles: entre 320 y 480 píxeles.
    Tablets: entre 768 y 1024 píxeles.
    Pantallas grandes: más de 1200 píxeles.
*/

/* PAGE */
.main{
    display: flex;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
}

/* TOPBAR */
.main__topbar{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 5vh;
}
.topbar__brand{
    margin: 3px;
    min-width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topbar__title{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.topbar__icons{
    width: 120px;
    display: flex; 
    justify-content: space-evenly;
}

/* GRUPO CHATS Y CONTAINER */

.main__group{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .main__group{
        flex-direction: row;
    }
}
/* CONTROLS */
.main__controls{
    display: none
}
@media (min-width: 768px){
    .main__controls{
        width: 5vw;
        background-color: #202020;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    .controls__icons{
        display: flex;
        flex-direction: column;
        height: 140px;
        justify-content: space-evenly;
        align-items: center;
    }

    .control-icon{
        width: 35px;
        height: 35px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .control-icon:hover{
        background-color: #2d2d2d;
    }
}


/* CHATLIST */
.main__chatlist{
    background-color: #272727;
    height: 6vh;
    width: 100vw;
    display: flex;
    color: white;
    overflow-x: scroll;
}
@media (min-width: 768px){
    .main__chatlist{
        overflow-x: hidden;
        flex-direction: column;
        height: 95vh;
        width: 25vw;
    }
}

.main__container{
    height: 89vh;
}
@media (min-width: 768px){
    .main__container{
        height: 95vh;
        width: 75vw;
    }
}

.chatlist__title{
    display: none;
}

.chatlist__input-search{
    display: none
}

@media (min-width: 768px){
    /* CHATLIST TITLE */
    .chatlist__title{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 20px;
    }

    .chat__title{
        font-size: 22px;
        font-weight: 600;
        margin: 0 0;
    }

    .chatlist__icons{
        display: flex;
        justify-content: space-between;
        width: 60px;
    }

    .chatlist__input-search{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-search{
        height: 25px;
        border-radius: 3px;
        width: 20vw;
        background-color: #343434;
        border-right: 0px;
        border-bottom: 1px solid #9d9d9d;
        color: white;
    }
    .input-search::placeholder{
        color: #9d9d9d
    }

    .input-search:hover{
        background-color: #5d5d5d;
    }

    .input-search:focus{
        outline: none;
        border-bottom: 1px solid #00a884;
    }
    .input-search:focus:hover{
        background-color: #212121;
        outline: none;
        border-bottom: 1px solid #00a884;
    }
}


/* CHAT FRAME */

.chat-header{
    height: 9vh;
    background-color: #272727;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.control-icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-controls{
    display: flex; 
    width: 120px;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
}
@media (min-width: 768px){
    .header-controls{
        width: 150px;
    }
}